Package: com.1conan.cumsync
Name: CumSync
Version: 1.1.0
Architecture: iphoneos-arm
Depends: openssh
Description: Clipboard Sync for Linux/Mac/Windows
Maintainer: 1Conan <tweaks@1conan.com>
Author: 1Conan <tweaks@1conan.com>
Section: Tweaks
